
/* fonts  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* fonts  */





body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Inter", sans-serif;
} 



/* nav bar work  */
.banner-nav {
    /* background: linear-gradient

    (180deg, #111111 0%, rgba(119, 119, 119, 0) 100%); */
    background: linear-gradient(to bottom, #000000, #434343);
    height: 715px;
    width: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.97%;
    padding: 2.97% 9.90% 0px 9.90%; /* top right bottom left */
}
.logo{
font-family: Inter;
font-size: 50px;
font-style: italic;
font-weight: 800;
line-height: 43.2px;
text-align: left;
color:#E6533C;


}

.nav-items{
    display: flex;
    gap: 47px;
    border: 2px solid #FFFFFF1A;
    border-radius: 39px;
    padding: 4px 0px 4px 0px;
    opacity: 0px;
    font-size: 18px;
  
    
   
    

}


.nav-items a{
    text-decoration: none;
    padding: 4px 15px;
    color:#FFFFFF;

    
    
    


}
/* nav bar work  */


